/* EXTRA ADD ON CSS */
 /* .demo h1,li{
background-color: aqua;
color: #224abe;
font-size: large;   


}
  */




.bg-gradient-primary {

    width: 100vw;
    height: 100vh;

    position: fixed;
    background-size: cover;
    background-color: #4e73df;
    background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
 

}


/* main */
.firstdiv {
    border: 5px solid hsl(209 66% 42% / 1);
    height: 100vh;
    width: 100vw;
}

.show-time {
    text-align: right;
    margin: 10px 30px;
}

.qbutton {
    height: 370px;
    overflow-x: auto;
    padding: 30px 30px 30px 0px;
    text-align: center;
}

.qbutton input {
    margin: 5px;
    border: none;
    font-weight: 500;
    color: rgb(0, 0, 0);
    border-radius: 8px 0px;
    font-size: 18px;
    cursor: pointer;
    transition: .4s;
    width: 45px;
    height: 45px;
}

.qbutton input:hover {
    box-shadow: 0px 0px 8px black;
}

.question label {
    font-size: 15px;
}

.nav-tabs li a {
    color: rgb(0, 0, 0);
}

.question-option li {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

.save-btn {
    border: none;
    padding: 8px 20px;
    margin-top: 10px;
    color: #fff;
    background: hsl(209 66% 42% / 1);
    float: right;
    border-radius: 10px 10px 0px 0px;
    transition: 0.5s;
}

.save-btn i {
    opacity: 0;
    transition: .3s;
}

.save-btn:hover i {
    opacity: 1;
    transform: rotateY(190deg);
}

.save-btn:hover {
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.555);
}


.title {
    text-align: center;
    background: hsl(209 66% 42% / 1);
    padding: 2px 0px;
    color: #fff;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background: hsl(209 66% 42% / 1);
    color: #fff;
    border-color: hsl(209 66% 42% / 1);
}

.questions-text {
    border-bottom: 1px solid rgb(222 226 230);
    width: 100%;
    height: 350px;
}

.mark-for-review {
    border: none;
    padding: 8px 20px;
    color: #fff;
    margin-top: 10px;
    margin-right: 10px;
    background: hsl(209 66% 42% / 1);
    border-radius: 10px 10px 0px 0px;
    transition: .5s;
}

.clear-response-btn {
    border: none;
    padding: 8px 20px;
    color: #fff;
    margin-top: 10px;
    margin-right: 10px;
    background: hsl(209 66% 42% / 1);
    border-radius: 10px 10px 0px 0px;
    transition: .5s;
}

.mark-for-review i {
    opacity: 0;
    transition: .3s;
}

.mark-for-review:hover i {
    opacity: 1;
    transform: translateX(9px);
}

.mark-for-review:hover {
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.555);
}

.clear-response-btn i {
    opacity: 0;
    transition: .3s;
    transform: rotateZ(90deg);
}

.clear-response-btn:hover i {
    opacity: 1;
    transform: rotateZ(0deg);
}

.clear-response-btn:hover {

    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.555);
}